body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-color: #fff;
}

form {
    width: 50%;
    margin-left: 25%;
    margin-top: 80px;
}

* {
    box-sizing: border-box;
}