!doctype>
<html>

<head>
    <meta charset="utf-8">
    <title>all specific property</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
</head>

<body>
    <header>
        <div class="container-nav">
            <li class="brand"><a href="../index.html">PropertyPro-lite</a></li>
            <ul class="navbar">
                <li><a href="home.html">home</a></li>
                <li><a href="propertys.html">View all propertys</a></li>
                <!--<li><a href="specific.html">all specific property</a></li>-->
                <li><a href="../index.html">sign out</a></li>
            </ul>
        </div>
    </header>
    <section id="specific">

        <section id="grid">
            <div class="grid-t">
                <h1>all specific property</h1>
                <hr>
            </div>
        </section>
        <div class="card">
            <img src="../img/14.jpg" id="wid">
            <div class="container">
                <h4><b>RESIDENCIAL PROPERTY</b></h4>
                <hr>
                <p>living House<br>1 livingroom, 4 bedroom , 2 toilet;1 kitchen </br>Owner contact tel:+250 785 062 794</p>
            </div>
        </div>
        <section id="specific">

            <div class="card">
                <img src="../img/44.jpg" id="wid">
                <div class="container">
                    <h4><b>Self Content PROPERTY</b></h4>
                    <hr>
                    <p>living House<br>1 livingroom, bedroom , toilet </br>Owner contact tel:+250 785 062 794</p>
                </div>
            </div>
        </section>
        <section id="specific">

            <div class="card">
                <img src="../img/77.jpg" id="wid">
                <div class="container">
                    <h4><b>Mini Flat PROPERTY</b></h4>
                    <hr>
                    <p>living House<br>1 livingroom, bedroom , toilet </br>Owner contact tel:+250 785 062 794</p>
                </div>
            </div>
        </section>
        <section id="specific">

            <div class="card">
                <img src="../img/location2.jpg" id="wid">
                <div class="container">
                    <h4><b>RESIDENCIAL PROPERTY</b></h4>
                    <hr>
                    <p>living House<br>1 livingroom, 4 bedroom , 2 toilet, 1 kitchen </br>Owner contact tel:+250 785 062 794</p>
                </div>
            </div>

        </section>
        <section id="specific">

            <div class="card">
                <img src="../img/location1.jpg" id="wid">
                <div class="container">
                    <h4><b>RESIDENCIAL PROPERTY</b></h4>
                    <hr>
                    <p>living House<br>1 livingroom, 4 bedroom , 2 toilet; 1 kitchen </br>Owner contact tel:+250 785 062 794</p>
                </div>
            </div>

            </secion>


        </section>
        <section id="footer">
            <p>Copyright © 2019 Heri All rights reserved.</p>
        </section>


</body>

</html>