<!doctype>
<html>

<head>
    <meta charset="utf-8">
    <title>all property</title>
    <link rel="stylesheet" href="/UI/style/style.css">
    <link rel="stylesheet" href="/UI/style/responsive.css">
</head>

<body>
    <header>
        <div class="container-nav">
            <li class="brand"><a href="/UI/index.html">PropertyPro-lite</a></li>
            <ul class="navbar">
                <li><a href="/UI/views/home.html">home</a></li>
                <!--<li><a href="propertys.html">View all propertys</a></li>-->
                <li><a href="/UI/views/all_specific.html">all specific property</a></li>
                <li><a href="/UI/index.html">sign out</a></li>
            </ul>
        </div>
    </header>
    <section class="column-grid">
        <section id="grid">
            <div class="grid-t">
                <h1>All property</h1>
                <hr>
            </div>
            <div class="column-grid">

                <div>
                    <div class="img-div" id="myBtn">
                        <img src="/UI/img/home/p5.jpg">
                    </div><br>
                    <div class="img-caption">
                        <button class="trigger">View</button>
                    </div>
                </div>
                <div>
                    <div class="img-div">
                        <img src="/UI/img/home/p4.jpg">
                    </div><br>
                    <div class="img-caption">
                        <button class="trigger1">View</button>
                    </div>
                </div>
                <div>
                    <div class="img-div">
                        <img src="/UI/img/home/p8.jpg">
                    </div><br>
                    <div class="img-caption">
                        <button class="trigger2">View</button>
                    </div>
                </div>
                <div>
                    <div class="img-div">
                        <img src="/UI/img/home/p7.jpg">
                    </div><br>
                    <div class="img-caption">
                        <button class="trigger3">View</button>
                    </div>
                </div><br>

        </section>
        <section id="mod">
            <div class="modal">
                <div class="modal-content">
                    <span class="close-button">&times;</span>
                    <div class="model-img">
                        <img src="/UI/img/slide2.jpg">
                    </div>
                    <div class="mod-p">

                        <p>description of the house</p>

                        <p>contact of seller <br>human happiness.</p>
                    </div>
                </div>
            </div>

            <div class="modal1">
                <div class="modal-content">
                    <span class="close-button">&times;</span>
                    <div class="model-img">
                        <img src="/UI/img/slide2.jpg">
                    </div>
                    <div class="mod-p">

                        <p>RESIDENCIAL PROPERTY</p>

                        <p>living House<br>1 livingroom, 4 bedroom , 2 toilet </br>Owner contact tel:+250 785 062 794</p>
                    </div>
                </div>
            </div>
            <div class="modal2">
                <div class="modal-content">
                    <span class="close-button2">×</span>
                    <div class="model-img">
                        <img src="/UI/img/slide2.jpg">
                    </div>
                    <div class="mod-p">

                        <p>RESIDENCIAL PROPERTY</p>

                        <p>living House<br>1 livingroom, 4 bedroom , 2 toilet </br>Owner contact tel:+250 785 062 794</p>
                    </div>
                </div>
            </div>
            <div class="modal2">
                <div class="modal-content">
                    <span class="close-button3">&times;</span>
                    <div class="model-img">
                        <img src="/UI/img/slide2.jpg">
                    </div>
                    <div class="mod-p">

                        <p>RESIDENCIAL PROPERTY</p>

                        <p>living House<br>1 livingroom, 4 bedroom , 2 toilet </br>Owner contact tel:+250 785 062 794</p>
                    </div>
                </div>
            </div>
            <div class="modal4">
                <div class="modal-content">
                    <span class="close-button4">&times;</span>
                    <div class="model-img">
                        <img src="/UI/img/slide2.jpg">
                    </div>
                    <div class="mod-p">
                        <p>RESIDENCIAL PROPERTY</p>

                        <p>living House<br>1 livingroom, 4 bedroom , 2 toilet </br>Owner contact tel:+250 785 062 794</p>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section id="footer">
        <p>Copyright © 2019 Heri All rights reserved.</p>
    </section>
    <script src="/UI/config/view.js"></script>
</body>

</html>