<!doctype>
<html>

<head>
    <meta charset="utf-8">
    <title>Delete</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
</head>

<body>
    <header>
        <div class="container-nav">
            <li class="brand"><a href="home.html">Propertypro-lite</a></li>
            <ul class="navbar" id="admin">
                <li><a href="home.html">home</a></li>
                <li><a href="post.html">Post</a></li>
                <li><a href="insSpc.html">insert specific</a></li>
                <li><a href="update.html">Update</a></li>
                <li><a href="delete.html">delete</a></li>
                <li><a href="mark.html">mark</a></li>
                <li><a href="../html/login.html">Logout</a></li>
            </ul>
        </div>
    </header>
    <section id="grid">
        <div class="grid-t">
            <h1>Delete Propertys</h1>
            <hr>
        </div>
        <div class="column-grid">

            <div>
                <div class="img-div" id="myBtn">
                    <img src="../img/home/p5.jpg">
                </div><br>
                <div class="img-caption">
                    <button class="trigger">Delete</button>
                </div>
            </div>
            <div>
                <div class="img-div">
                    <img src="../img/home/p4.jpg">
                </div><br>
                <div class="img-caption">
                    <button class="trigger1">Delete</button>
                </div>
            </div>
            <div>
                <div class="img-div">
                    <img src="../img/home/p8.jpg">
                </div><br>
                <div class="img-caption">
                    <button class="trigger1">Delete</button>
                </div>
            </div>
        </div>

    </section>
    <section id="mod">
        <div class="modal">
            <div class="modal-content">
                <span class="close-button">×</span>
                <div class="model-img">
                    <img src="../img/slide2.jpg">
                </div>
                <div class="mod-p">

                    <p>Do you want yo delete this ?</p><br>
                    <div class="img-caption" id="st">
                        <button class="trigger1">yes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal1">
            <div class="modal-content">
                <span class="close-button">×</span>
                <div class="model-img">
                    <!--  <img src="../img/slide2.jpg">-->
                </div>
                <div class="mod-p">

                    <p>Do you want yo delete this ?</p><br>
                    <div class="img-caption" id="st">
                        <button class="trigger1">yes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal1">
            <div class="modal-content">
                <span class="close-button2">×</span>
                <div class="model-img">
                    <img src="../img/slide2.jpg">
                </div>
                <div class="mod-p">

                    <p>Do you want yo delete this ?</p><br>
                    <div class="img-caption" id="st">
                        <button class="trigger1">yes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal3">
            <div class="modal-content">
                <span class="close-button3">×</span>
                <div class="model-img">
                    <img src="../img/slide2.jpg">
                </div>
                <div class="mod-p">

                    <p>Do you want yo delete this ?</p><br>
                    <div class="img-caption" id="st">
                        <button class="trigger1">yes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal4">
            <div class="modal-content">
                <span class="close-button4">×</span>
                <div class="model-img">
                    <img src="../img/slide2.jpg">
                </div>
                <div class="mod-p">

                    <p>Do you want yo delete this ?</p><br>
                    <div class="img-caption" id="st">
                        <button class="trigger1">yes</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../js/del.js">
    </script>
    <section id="footer">
        <p>Copyright © 2019 Heri All rights reserved.</p>
    </section>

</body>

</html>