<!doctype>
<html>

<head>
    <meta charset="utf-8">
    <title>type of property</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/media.css">
</head>

<body>
    <header>
        <div class="container-nav">
            <li class="brand"><a href="../index.html"> PropertyPro-lite</a></li>
            <ul class="navbar" id="admin">

                <li><a href="../view/home.html">home</a></li>
                <li><a href="../view/propertys.html">All propertys</a></li>
                <li><a href="../view/specific.html">Specific</a></li>
                <!-- <li><a href="mark.html">mark as sold</a></li>-->
                <li><a href="../index.html">Sign Out</a></li>
            </ul>
        </div>
    </header>
    <section id="type">
        <div class="title">
            <h1>Select your house type</h1>
        </div>
        <hr>
        <div class="custom-select">
            <select>
                <option value="0">select :</option>
                <option value="1">1 bedroom</option>
                <option value="2">2 bedroom</option>
                <option value="3">self content flat</option>
                <option value="4">mini flat</option>
           
              </select>
        </div>
    </section>
    <section id="grid">
        <div class="column-grid">

            <div>
                <div class="img-div" id="myBtn">
                    <img src="../img/home/p5.jpg">
                </div><br>

            </div>
            <div>
                <div class="img-div">
                    <img src="../img/home/p4.jpg">
                </div><br>

            </div>
            <div>
                <div class="img-div">
                    <img src="../img/home/p8.jpg">
                </div><br>

            </div>
            <div>
                <div class="img-div">
                    <img src="../img/home/p7.jpg">
                </div><br>

            </div><br>

    </section>
    <script src="../js/jsropro1.js">
    </script>
    <section id="footer">
        <p>Copyright © 2019 Heri All rights reserved.</p>
    </section>

</body>

</html>
