<!doctype>
<html>

<head>
    <meta charset="utf-8">
    <title>DELETE PAGE </title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../upode.css">
    <link rel="stylesheet" href="../css/media.css">
</head>

<body>
    <header>
        <div class="container-nav">
            <li class="brand"><a href="home.html">Propertypro-lite</a></li>
            <ul class="navbar" id="admin">
                <li><a href="../view/admin.html">home</a></li>
                <li><a href="../view/post.html">Post</a></li>
                <li><a href="../view/insSpc.html">insert specific</a></li>
                <li><a href="../view/update.html">Update</a></li>
                <li><a href="../view/delete.html">delete</a></li>
                <li><a href="../view/mark.html">mark</a></li>
                <li><a href="../html/login.html">Logout</a></li>
            </ul>
        </div>
    </header>
    <section id="grid">
        <div class="grid-t">
            <h1>All property</h1>
            <hr>
        </div>
        <div class="column-grid">

            <div>
                <div class="img-div" id="myBtn">
                    <img src="../img/home/p5.jpg">
                </div><br>
                <div class="img-caption">
                    <a class="trigger6" href="updat.html">update</a>
                </div>
            </div>
            <div>
                <div class="img-div">
                    <img src="../img/home/p4.jpg">
                </div><br>
                <div class="img-caption">
                    <a class="trigger6" href="../html/updat.html">update</a>
                </div>
            </div>
            <div>
                <div class="img-div">
                    <img src="../img/home/p8.jpg">
                </div><br>
                <div class="img-caption">
                    <a class="trigger6" href="../html/updat.html">update</a>
                </div>
            </div>
            <div>
                <div class="img-div">
                    <img src="../img/home/p7.jpg">
                </div><br>
                <div class="img-caption">
                    <a class="trigger6" href="../html/updat.html">update</a>
                </div>
            </div><br>

    </section>
    <section id="footer">
        <p>Copyright © 2019 Heri All rights reserved.</p>
    </section>
</body>

</html>
